/* Allgemeines Styling */

body {
background-image: url('faksimile_bg.png');

  background-size: cover;

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  font-family: 'Georgia', serif;

  color: #1c1c1c;

}
  margin: 0;

  font-family: 'Georgia', serif;

}



/* LOGIN Seite */

.login-page {

  background-color: #f8f8f8;

  text-align: center;

  padding-top: 50px;

}



.login-wrapper {

  background: white;

  padding: 30px;

  max-width: 400px;

  margin: auto;

  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}



.logo {

  width: 150px;

  margin-bottom: 20px;

}



/* KUNDENBEREICH Seite */

.kundenbereich-page {

  background-image: url('faksimile_bg.png');

  background-size: cover;

  background-position: center;

  min-height: 100vh;

  color: white;

  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);

}



.kundenbereich-page .content {

  padding: 40px;

}
